/***************************************************/
/* editor.php */

.editor {
    width: 100%;
    margin-top: 20px;
}

.editor form {
    width: 100%;
}

.editor select {
    float: right;
}

.editor form textarea {
    width: 100%;
    height: 300px;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.editor form input {
    float: right;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 30px;
}

 /* Style the tab */
 .editor form .tab {
    overflow: hidden;
    /* border: 1px solid #6E6E6E; */
    border: none;
    background-color: #f1f1f1;
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    margin-top:40px;
}

/* Style the buttons inside the tab */
.editor form .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.editor form .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.editor form .tab button.active {
    background-color: #757575;
}

/* Style the tab content */
.editor form .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    width: 100%;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border: none;
    border-top: none;
} 

.editor form .tabcontent textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    background-color: #eee;
}

/* .editor form #Output {
    display: block;
} */