/**********************************************/
/* index.php */

.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

body {
    background-color: #ccc;
}

a {
    text-decoration: none;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}
header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: ariel;
    font-size: 16px;
    color: #111;
    line-height: 63px;
}

header .nav-login {
    float: right;
}

header .nav-login form {
    float: left;
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    /* padding: 0px 10px; */
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    transition: 0.3s;
    font-family: arial;
    font-size: 14px;
    color: #111;
    /* line-height: 30px; */
    cursor: pointer;
}

header .nav-login form button:hover {
    background-color: #ccc;
}

header .nav-login a {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
    border:none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
}