/***************************************************/
/* signup.php */

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    /* float: left; */
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    /* margin-right: 10px; */
    border: none;
    background-color: #fff;
    margin-bottom: 4px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    /* float: left; */
    margin: 0 auto;
    width: 30%;
    height: 40px;
    /* padding: 0px 5%; */
    /* margin-right: 10px; */
    border: none;
    background-color: #222;
    /* margin-bottom: 4px; */
    font-family: arial;
    font-size: 16px;
    color: #fff;
    /* line-height: 40px; */
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}