html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**********************************************/
/* index.php */

.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

body {
    background-color: #ccc;
}

a {
    text-decoration: none;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}
header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: ariel;
    font-size: 16px;
    color: #111;
    line-height: 63px;
}

header .nav-login {
    float: right;
}

header .nav-login form {
    float: left;
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    /* padding: 0px 10px; */
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    transition: 0.3s;
    font-family: arial;
    font-size: 14px;
    color: #111;
    /* line-height: 30px; */
    cursor: pointer;
}

header .nav-login form button:hover {
    background-color: #ccc;
}

header .nav-login a {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
    border:none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
}

.main-container{
    padding-top: 40px;
}

.main-container h2{
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

/***************************************************/
/* signup.php */

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    /* float: left; */
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    /* margin-right: 10px; */
    border: none;
    background-color: #fff;
    margin-bottom: 4px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    /* float: left; */
    margin: 0 auto;
    width: 30%;
    height: 40px;
    /* padding: 0px 5%; */
    /* margin-right: 10px; */
    border: none;
    background-color: #222;
    /* margin-bottom: 4px; */
    font-family: arial;
    font-size: 16px;
    color: #fff;
    /* line-height: 40px; */
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}

/***************************************************/
/* editor.php */

.editor {
    width: 100%;
    margin-top: 20px;
}

.editor form {
    width: 100%;
}

.editor select {
    float: right;
}

.editor form textarea {
    width: 100%;
    height: 300px;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.editor form input {
    float: right;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 30px;
}

 /* Style the tab */
 .editor form .tab {
    overflow: hidden;
    /* border: 1px solid #6E6E6E; */
    border: none;
    background-color: #f1f1f1;
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    margin-top:40px;
}

/* Style the buttons inside the tab */
.editor form .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.editor form .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.editor form .tab button.active {
    background-color: #757575;
}

/* Style the tab content */
.editor form .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    width: 100%;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border: none;
    border-top: none;
} 

.editor form .tabcontent textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    background-color: #eee;
}

/* .editor form #Output {
    display: block;
} */